html {
    height: 100%;
    width: 100%;
  }

  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-authors {
    list-style: none;
    padding: 0;
}

.footer-authors li {
    margin: 5px 0;
}

.footer-authors a {
    color: #ffcc00;
    text-decoration: none;
}

.footer-authors a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}

canvas

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #fdf6f0; /* Fondo cálido */
  color: #333;
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: #20c997 ; /* Equivalente a $green-500 */
  color: var(--bs-light); /* Color de texto claro */
  text-align: center;
  padding: 20px;
}

/* Secciones */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  background-color: #E1E3C3;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.text {
  width: 50%;
}

.image {
  width: 40%;
}

.image img {
  width: 100%;
  border-radius: 10px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* IMAGENES */
#loto1 {
  height: 100px;
  width: 100px;
}

#rosa1 {
  height: 100px;
  width: 100px;
}

#cerezo1 {
  height: 100px;
  width: 100px;
}

#loto2 {
  height: 100px;
  width: 100px;
}

#rosa2 {
  height: 100px;
  width: 100px;
}

#cerezo2 {
  height: 100px;
  width: 100px;
}

#loto3 {
  height: 100px;
  width: 100px;
}

#rosa3 {
  height: 100px;
  width: 100px;
}

#cerezo3 {
  height: 100px;
  width: 100px;
}


  footer {
    width: 100%;              
    background-color: lavenderblush;   
    color: palevioletred;             
    padding: 15px;            
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    justify-content: center;
  }


  
#contactbody {
    margin: 5%;
    background: linear-gradient(pink, beige);
}
#contactheader{
  background-color: pink;
  text-align: center;

}


#contactnav ul li {
  display: inline;
  padding: 10px 15px; /* Agrega espacio alrededor del texto */
}

#contactmain {
  text-align: center;
  background-color:lavenderblush;
}

h1 {
  color:blueviolet
}

h2 {
  color:black
}

p {
  color:black
}

#aboutUsheader{
  background-color: lavenderblush;
}

#aboutUsnav{
  background-color: lavenderblush;
}
#aboutUsmain{
  background-color: lavenderblush;
}

#menuInfo nav {
  background-color: #fc9d9a;
  padding: 10px;
  position: sticky;
  z-index: 1000;
}

#menuInfo ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#menuInfo li {
  margin: 0 20px;
}

#menuInfo a {
  color: #f34365;
  text-decoration: none;
  font-size: 20px;
  ;
}
.menu a:hover {
  color: burlywood;
}
#menuInfo a:hover {
  color: #fc9d9a;
}

.custom-navbar {
  background-color: #f9cda9 !important; /* Color personalizado */
}
