html {
    height: 100%;
    width: 100%;
  }


h1 {
  color:blueviolet
}

h2 {
  color:palevioletred
}

#aboutUsheader{
  background-color: lavenderblush;
}

#aboutUsnav{
  background-color: lavenderblush;
}
#aboutUsmain{
  background-color: lavenderblush;
}

nav {
  background-color: papayawhip;
  padding: 10px;
  position: sticky;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu li {
  margin: 0 20px;
}

.menu a {
  color: palevioletred;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.menu a:hover {
  color: burlywood;
}


